#popup_cushion {
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px;
  flex-direction: column;
  background-image: linear-gradient(to bottom, rgba(220, 215, 199, 0) 18%, rgba(220, 215, 199, 0.25) 100%);
}

#popup_cushion > div:nth-child(1) {
  width:420px;
  height:520px;
  /* border: 1px solid black; */
  background-image: url(../asset/popup_cushion.avif);
  background-size: cover;
  background-position: center;
}

#popup_cushion > div:nth-child(2) {
  width: 470px;
  font-size: 13px;
  padding: 30px;
  color: #00000080;
}

#popup_cushion > div:nth-child(2) > p {
  margin: 0;
}

@media screen and (max-width:768px) {
  #popup_cushion > div:nth-child(1) {
    width:350px;
  }

  #popup_cushion > div:nth-child(2) {
    width: 350px;
    font-size: 13px;
    padding: 20px;
    color: #00000080;
  }
  
  
  
  #popup_cushion > div:nth-child(2) > p {
    font-size: 10.5px;
  }
  
}