#visit_store_text {
  width:100%;
  height: 85px;
  display: flex;
  align-items:center;
  justify-content: center;
  font-weight: bold;
  /* border: 1px solid black; */
  font-size: 15px;
}

#visit_store_text > p {
  margin: 0;
}

@media screen and (max-width:768px) {
  #visit_store_text {
    font-size: 13px;
  }
}