*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  overflow-x: hidden;
}

#wrapper {
  width:100%;
  /* background-color: gray; */
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "SD_gothic";
  
}

@font-face {
  font-family:"SD_gothic";
  src: url(../asset/font/SDGothicNeoaTTF-eMd.woff);
  
}